<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Chalooo{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'chalooo/css/style.css' %}">
</head>
<body>
    <header>
    <h1>Chalooo - Tu tienda en línea</h1>
    <nav>
        <a href="{% url 'chalooo:index' %}">Inicio</a> |
        <a href="{% url 'chalooo:productos' %}">Productos</a> |
        <a href="{% url 'chalooo:carrito' %}">Carrito</a> |

        {% if user.is_authenticated %}
            <span>Hola, {{ user.nombre_s }}</span> |
            <a href="{% url 'chalooo:logout' %}">Cerrar sesión</a>
        {% else %}
            <a href="{% url 'chalooo:iniciar_sesion' %}">Iniciar sesión</a> |
            <a href="{% url 'chalooo:registro' %}">Registrarse</a>
        {% endif %}
    </nav>
</header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <script src="{% static 'chalooo/js/script.js' %}"></script>
</body>
</html>
