{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="container text-center mt-5">
    {% if user.is_authenticated %}
        <h2 class="text-success">¡Bienvenido/a, {{ user.nombre_s }}!</h2>
        <p class="lead mt-3">
            Nos alegra tenerte de vuelta. Explora nuestros productos o revisa tu carrito.
        </p>
        <a href="{% url 'chalooo:productos' %}" class="btn btn-primary mt-3">Ver productos</a>
    {% else %}
        <h2 class="text-dark">Bienvenido/a a Chalooo</h2>
        <p class="lead mt-3">
            Crea una cuenta o inicia sesión para acceder realizar compras.
        </p>
        <a href="{% url 'chalooo:login' %}" class="btn btn-success mt-3">Iniciar sesión</a>
    {% endif %}
    <div>
        <br>
        <h2 class="text-dark">Somos una empresa mexicana fundada en 2023 en la ciudad de Monterrey, Nuevo León, dedicada a la venta de productos electrónicos, accesorios y dispositivos tecnológicos.</h2>
        <br>
        <h2 class="text-dark">Misión</h2>
        <p class="lead mt-3">
            Ofrecer artículos electrónicos de calidad a precios accesibles, junto con una atención personalizada y cercana, que acerque la tecnología a las personas jóvenes y adultas de Monterrey
        </p>
        <br>
        <h2 class="text-dark">Visión</h2>
        <p class="lead mt-3">
            OConsolidarse como una organización reconocida a nivel local por su innovación, su amplia variedad de productos tecnológicos y su compromiso con la confianza del consumidor.
        </p>
    </div>
</div>
{% endblock %}
