{% extends "base.html" %}
{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
<h2 class="text-center">Iniciar Sesión</h2>

{% if messages %}
    <ul class="messages">
    {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}

<form method="POST">
    {% csrf_token %}
    {{ formulario.as_p }}
    <button type="submit">Entrar</button>
</form>

<p>¿No tienes cuenta? <a href="{% url 'chalooo:registro' %}">Regístrate aquí</a></p>
{% endblock %}
