{% extends "base.html" %}
{% block title %}Catálogo de Productos{% endblock %}

{% block content %}
<h2>Catálogo de Productos</h2>

<div class="grid-productos">
    {% for producto in productos %}
        <div class="tarjeta-producto">
            {% if producto.imagen %}
                <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}">
            {% endif %}
            <h4>{{ producto.nombre }}</h4>
            <p>{{ producto.descripcion }}</p>
            <p class="precio">${{ producto.precio }}</p>
            <a href="{% url 'chalooo:agregar_al_carrito' producto.id_producto %}">
                <button class="btn-agregar">Agregar al carrito</button>
            </a>
        </div>
    {% empty %}
    <p>No hay productos disponibles.</p>
    {% endfor %}
</div>
{% endblock %}
