{% extends "base.html" %}
{% block title %}Registro de Cliente{% endblock %}

{% block content %}
<h2 class="text-center">Registro de Cliente</h2>

{% if messages %}
    <ul class="messages">
    {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Registrarme</button>
</form>

<p>¿Ya tienes una cuenta? <a href="{% url 'chalooo:iniciar_sesion' %}">Inicia sesión</a></p>
{% endblock %}
